name: VoucherVault Web Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Build project
      run: npm run build
      env:
        CI: false # Prevents warnings from being treated as errors

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: voucher-vault-web-build
        path: dist/ # Adjust this if your build output directory is different (e.g., 'build')
